Assignments code/newXMLschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

<xs:element name="contact">
<xs:complexType>	
<xs:sequence>
      <xs:element name="Username" type="xs:string"/>
        <xs:element name="email" type="xs:string"/>
        <xs:element name="RollNo" type="xs:string"/>
        <xs:element name="Dept" type="xs:string"/>
       <xs:element name="Marks" type="xs:string"/>

</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
